body{
    text-align: center;
    background-color: black;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
div{
    margin: 2rem;
    background-color: darkblue;
    background-image: linear-gradient(45deg, #17202A ,#101010);
    padding: 1rem;
    box-shadow: 2.5px 1.5px 10px white;
}
.text{
    margin-right:10rem;
    margin-left: 10rem;
    text-align: left;
    font-size: 2rem;
    margin-top: 3rem;
}
.text2{
    font-size: 1.5rem;
    text-align: left;

}
.text3{
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
}
a{
    color:white;
}
a:hover{
    color:grey;
}