body{
    text-align: center;
    background-color: #5da9e9;
    font-size: 2rem;
    font-weight: bold;
}
div{
    margin: 2rem;
}
a{
    font: bold 3rem cera;
    color: white;
    padding: .2rem .4rem .2rem .4rem;
    text-decoration: none;
    background-color: black;
}
a:hover{
    color:white;
    background-color: grey;
}